.main-section{
    background-color:white;
    
}
.heading{
    color: red;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
}
.v{
    color: blue;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-style: normal;

}
.pa{
    font-size: 15px;
    font-weight: 300;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:green;

}
.ba{
    font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    color: blueviolet;
}
.sa{
    color: red;
    font-size: 20px;
}

.sum{
    color: blueviolet;
    font-size: 13px;

}
.ga{
    color: navy;
    font-size: 16px;
}